<mat-toolbar color="primary">
    <a routerLink="/" class="brand"><span>0Effort CRM</span></a>
    <span class="spacer"></span>

    <a *ngIf="authed" routerLink="/dashboard">
        <button mat-icon-button class="dashboard-icon" aria-label="dashboard">
            <mat-icon>dashboard</mat-icon>
          </button>
    </a>

    <a *ngIf="authed" routerLink="/customers">
        <button mat-icon-button class="people-icon" aria-label="customers">
            <mat-icon>people</mat-icon>
          </button>
    </a>
    <a *ngIf="authed" routerLink="/logout">
        <button mat-icon-button class="login-icon" aria-label="logout">
            <mat-icon>logout</mat-icon>
        </button>
    </a>

    <a *ngIf="!authed" routerLink="/login">
        <button mat-icon-button class="login-icon" aria-label="login">
            <mat-icon>login</mat-icon>
        </button>
    </a>
  </mat-toolbar>