ul {
    list-style: none;
    li {
        a {
            display:inline-block;
            position: relative;
            top: -5px;   
            &:hover {
                color: white;
            }
        }
    }
}


.left {
    margin-left: 24px;
}
