<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card color="primary">
            <mat-card-header>
                <mat-card-title>
                    <h3>{{ customer.firstName }} {{customer.lastName}} </h3>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>{{ customer.address }}</p>
                <p>{{ customer.phone }}</p>
                <p>{{ customer.email }}</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <!--Customer data expansion-->
        <mat-card color="primary">
            <mat-card-header>
                <mat-card-title>
                    <h3>Orders</h3>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-accordion>
                    <mat-expansion-panel hideToggle *ngFor="let order of customerOrders">
                        <mat-expansion-panel-header>
                           Order number:  {{order.id}}
                        </mat-expansion-panel-header>
                        <mat-panel-description>
                           Date: {{order.orderDate | date: 'medium'}}
                        </mat-panel-description>
                        <p>
                            {{order.orderDescription}}
                        </p>
                    </mat-expansion-panel>

                </mat-accordion>
            </mat-card-content>
        </mat-card>

    </mat-grid-tile>
</mat-grid-list>